<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="aa">
	<select id="getaa" resultType="com.nn.simple01.dto.AADto">
		select*from aa
	</select>
	
	<insert id="insertaa">
		insert into aa (bb) values ('aaaa')
	</insert>
	
	<update id="updateaa" parameterType="com.nn.simple01.dto.AADto">
		update aa set bb=#{bb}
	</update>
	
	<delete id="deleteaa">
		delete from aa;
	</delete>
</mapper>